
h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.title_photo{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
    }

.cuerpo_photo {
    background-color: white;
   
}

#contenedor {
    width: 50%;
    background-color: white;
    border: 2px solid black;


}

#cuerpo {
    position: relative;
    background-color: lightgray;
    padding: 10px 100px 30px;  
   } 
   

* img {
    display: block;
    margin: auto;
}

* p.descripcion{
   padding: 20px;
   background-color: white;
   
  }

* p.enunciado {
     display: flex;
     margin-left: 15px;

}

* p.fraccion {
    color:gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 15px;
  }


.content {
    margin-bottom: 25px;
    width: 50%;
    position: relative;
    left: 275px;
  }
